[project]
	description = An Ansible role to provision and release ephemeral baremetal CI nodes from the ci.centos.org infrastructure
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group weirdo-core
	read = group Anonymous Users
	read = group Registered Users
	read = group weirdo-ci
	abandon = group Change Owner
	pushMerge = deny group Registered Users
	label-Code-Review = -1..+1 group Registered Users
	label-Code-Review = -1..+1 group weirdo-ci
	rebase = group Change Owner
	label-Verified = -1..+1 group weirdo-ci
